
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
    
}
html{
    scroll-behavior: smooth;
}
body{
    margin: auto; 
    
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;  
}


/*------------------Navigatie---------------*/

nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    align-items: center;
    transition: top 0.3s;
    


}
.navbar {
    background-color: white;
    transition-property: background-color, color;
    transition-duration: 0.5s;
  }
  
.navbar-donker {
    background-color: transparent;
    visibility: hidden ;
    transition: all 0.5s ease-in;

  }
  
  .navbar-collapse, .navbar-nav, .nav-item {
    color: inherit;
  }
nav ul{
    position: relative;
    display: flex;
    float: right;
    padding-left: 18cm;
}

nav ul li#nav-li{
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;

}

nav ul li#nav-li a{
    position: relative;
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 30px;
    float: right;
    display: flex;
    text-align: right;
    
    font-size: 17px;
}
nav ul li#nav-li a::before
{
  background: orange;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: 0.6s ease-in-out;
  z-index: -1;
}
nav ul li#nav-li a:hover::before {
    transform: scaleX(1);
    transform-origin: center;
  }
#aestheticswhite
{
    height: 150px;
    margin-left: 1cm;
}

/*-------------------------------------------HOME PAGINA---------------------------------------*/
div#spierfoto
{
    background-image: url(pics/spier.jpg);
    background-repeat: no-repeat; 
    height: 1000px;
    background-size: cover;
    background-position: center;
    
}
div#spiertext   
{
    padding-top: 15%;
    
}
.motivation-quotes
{
    color: orange;
    font-style: italic; 
    font-size: 50px;
    
    line-height: 290%;
}
h1#mot1
{
    padding-left: 850px;
    color: white;
}
h1#mot2
{
    padding-left: 1000px;
    color: white;
}
h1#mot3
{
    padding-left: 1050px;
}
div#button
{
    text-align: center;
    padding-left: 45%;
    padding-top: 5%;
}
input#start
{
    width: 280px;
    height: 110px;
    border: none;
    color: black;
    background: black;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
    box-shadow: 0 0 1px 100px white inset, 0 0 0 0 white;
    transition: all 150ms ease-in-out;
    float: right;
    margin-right: 100px;
    
   
}

input#start:hover
{
    box-shadow: 0 0 10px 0 orange inset, 0 0 10px 4px orange;
    color: white;
}

img#Background-foto
{
    height: 17cm;
    width: 48.9cm;
}

p#motivatie
{
    text-transform: uppercase;
    text-align: center;
    background-color: orange;
    padding: 20px;
    font-size: 40px;
}
div#navigatie
{
    background-image: url(pics/Background-foto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    padding-top: 3cm;
    padding-left: 5cm;  
    padding-right: 5cm;
    padding-bottom: 5cm;
    display: flex;
    height: 18cm;
    letter-spacing: 2px;
    font-family: 'TildaSans',Arial,sans-serif;
    text-align: center;
}

a
{
    text-decoration: none;
    color: black;
}

h2#text-nav
{
    text-transform: uppercase;
    padding-top: 40px;
}

section#colom1
{
    width: 33.3%;
    height: 20%;
}

.beweeg-juist-padding
{
    padding-bottom: 15px;
}

section#colom2
{
    width: 33.3%;
    height: 20%;
}

section#colom3
{
    width: 33.3%;
    height: 20%;
}

img#gym, img#light
{
    width: 130px;
}

img#vegetables
{
    width: 110px;
    padding-bottom: 15px;
    
}

p#informatie-nav
{
    text-align: center;
    padding-top: 30px;
    width: 70%;
    padding-bottom: 50px;
    font-size: 15px;
    margin-bottom: 10%;
}


div#reviews
{
    height: 35cm;
    display: flex;
    

    
}
#titel-h1-home
{
    padding-top: 2cm;
    padding-bottom: 3cm;
    text-align: center;
    text-transform: uppercase;
    
}

section#review-colom1, section#review-colom2, section#review-colom3
{
    box-shadow: 0 0 10px rgba(0,0,0.15);
    color: black;
    width: 31%;
    margin-bottom: 5cm;
    
    
}

img#before-after1 
{
    width: 456px;
    
}

img#before-after2
{
    width: 456px;
}

img#before-after3
{
    width: 456px;
    height: 410px;
}

h3#review-naam
{
    padding-top: 30px;
    padding-left: 50px;
}

p#review-text
{
    padding: 50px;
    line-height: 30px;
    
}

img#stars
{
    width: 150px;
    margin-left: 50px;

}
/*-------------------------------------------ABOUT/VOEDING/CONTACT PAGINA(gemeenschappelijke code) ---------------------------------------*/
div#blok
{
    padding-top: 10cm;
    padding-bottom: 170px;
    background-color: black;
}

div#GROTE-TITEL
{
    color: white;
}

div#info-blok
{
    padding-top: 2cm;
    padding-left: 5cm;  
    padding-right: 5cm;
    color: black;
    width: 100%;
    margin: 0;
}

div#wit-background
{
    background-image: url(pics/wit-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

input[type=button]
{
    width: 220px;
    height: 50px;
    border: none;
    color: white;
    background: white;
    border-radius:30px;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 0 0 40px 40px black inset, 0 0 0 0 black;
    transition: all 150ms ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p#motivatie, div#navigatie, div#wit-background, input[type=button]:hover
{
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px black;
    color: black;
   
}

h1#titel-h1
{
    font-size: 150px;
    text-align: center;   
}

#info
{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}
/*-------------------------------------------ABOUT PAGINA---------------------------------------*/
ul{
    list-style: none;
}



div#about-pagina-text
{
    padding-top: 150px;
    height: 32cm;
   
}

section#colom1-left, section#colom2-right
{
    width: 50%;
    float: left;
    text-align: center;
    
    line-height: 60px;
    
}

section#colom2-right
{
    float: right;
}
#mezelf-text
{
    font-size: 25px;
    text-transform: uppercase; 
}

h1#mezelf-text
{
    text-align: center;
    padding-top: 5cm;
    font-size: 40px;
}

img#foto1
{
    height: 500px;
}

p#jaar14
{
    padding-bottom: 4cm;
    
}

img#foto2
{
    height: 600px;
    margin-top: 3.5cm;
}


div#container2
{
   
    height: 40cm;
}

img#foto3
{
    height: 600px;
    margin-top: 3.5cm;

}

div#vragen
{
    text-align: center;
    padding-top: 3.5cm;
    font-size: 25px;
}
p#vragen-text, p#vragen-text-kort
{
    padding-bottom: 30px;
}

p#vragen-text-kort
{
    width: 12cm;
    font-size: 25px;
}
/*-----------------------VOEDING PAGINA----------------------*/


ul{
    list-style: none;
}


h1#voeding-info
{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}
p#voeding-info1
{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
    line-height: 35px;
}

p#voeding-info2
{
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

div#pagina-text
{
    
    padding-left: 5cm;  
    padding-right: 5cm;
    color: black;
    width: 100%;
    margin: 0;
    height: 80cm; 
}
img#lang-fruit
{
    padding-left: 10cm;
    
}
section#column1
{
    padding-top: 100px;
    width: 48%;
    float: left;
    

}

section#column2
{
    width: 48%;
    padding-top: 100px;
    float: right;
   
   
}

h2#h2-titel
{
    padding-bottom: 30px;
    text-align: center;
}

p#voeding-text
{
    padding-bottom: 20px;
    line-height: 26px;
    font-family: 'TildaSans',Arial,sans-serif;
}

img#food
{
width: 700px;
height: 9.5cm;
float: right;
margin-bottom: 6cm;
margin-top: 1cm;
}


img#Maaltijdplanning
{
    width: 650px;
    height: 350px;
    margin-top: 2.8cm;
    margin-bottom: 5cm;
}

img#Hydratatie
{
    width: 700px;
    height: 450px;
    margin-top: 6cm;
    margin-bottom: 5cm;
}

img#Voedingssupplementen
{
    width: 600px;
    height: 450px;
    margin-top: 5cm;
    margin-bottom: 5cm;
}

img#training
{
    width: 700px;
    height: 430px;
    margin-top: 6cm;
    margin-bottom: 5cm;
}
input
{
    font-size: 20px;
    line-height: 290%;
    width: 9.4cm;
}

/*-------------------------------------------CONTACT PAGINA---------------------------------------*/

div#wit-background
{
    background-image: url(pics/wit-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
h1#contacth1
{
    font-size: 150px;
    text-align: center;   
    
}
ul{
    list-style: none;
}
div#gegevens-blok
{
  
    padding-top: 2cm;
    padding-bottom: 5cm;
    padding-left: 5cm;  
    padding-right: 5cm;
    margin-top: 85px;
    color: black;
    width: 100% auto;
    margin: 0;
    
}

#info1
{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
div#container1
{
    padding-top: 100px;
   
}
input
{
    font-size: 20px;
    line-height: 290%;
    width: 9.4cm;
}


:placeholder-shown
{
    padding-left: 15px;
}

ul li
{
    padding-top: 12px;
    padding-bottom: 1cm;
}
input#familienaam
{
    margin-left: 35px;
}

#header-telefoon-span
{
    padding-left: 8.5cm;
}
input#gsm
{
    margin-left: 35px;  
}

button#verzenden
{
    font-size: 25px;
    height: 90px;
    width: 350px;
    background-color: black;
    color: white;
}
#verzenden:hover
{
    background-color: white;
    color: black;
}
img#pullup
{
    width: 45%;
    float: right;
    

}

/*-------------------------------------------TERMS OF USE  PAGINA---------------------------------------*/

div#termENprivacy-info-blok
{
    padding-top: 6cm;
    padding-bottom: 2cm;
    padding-left: 12cm;  
    padding-right: 12cm;
    margin-top: 85px;
    width: 100%;
    margin: 0;
}

h1#term-h1-titel
{
    padding-bottom: 1cm;
    font-size: 80px;
    text-align: center;
}
p#ondertitel
{
    padding-bottom: 2.3cm;
}

h2#termENprivacy-h2-titel
{
    padding-bottom: 20px;
}

p#termENprivacy-text-blok
{
    padding-bottom: 2cm;
}

nav ul li#nav-li-privacyenterma{
    position: relative;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 30px;
    float: right;
    display: flex;
    text-align: right;
    
    font-size: 17px;
}

/*-------------------------------------------PRIVACY POLICY PAGINA---------------------------------------*/

h1#privacy-h1-titel
{
    padding-bottom: 2.3cm;
    font-size: 80px;
    text-align: center;
}




/*------------FOOTER-----------------FOOTER--------------------FOOTER----------------------FOOTER-----------------------*/

footer
{
    background-color: black;
    padding-bottom: 0.5cm;
    padding-left: 45px;
    flex-grow: 1;
    padding-left: 5cm;  
    padding-right: 5cm;
}
li#footer-id
{
    padding-top: 0;
    padding-bottom: 14px;
    font-size: 14px;
}
li#footer-img
{
    padding-top: 0;
    padding-bottom: 0; 
    margin: 20px; 
}
ul#social-media
{
    
    display: flex;

}
#instagram-img , #twitter-img
{ 
    width: 60px;
}
#youtube-img
{
    width: 80px;
    height: 60px;
}

div#top-page
{
    padding-top: 50px;
    padding-bottom: 50px;
}
img#logofooter
{
    float: left;
    width: 230px;
    background-color: black;
}
#footertext
{
    color: white; 
    padding-bottom: 30px
}
td#kolom1, td#kolom2, td#kolom3
{
   width: 25%;
   
}
td#kolom2
{
    padding-bottom: 5px;
}
td#kolom3
{
    padding-bottom: 105px;
}
td#kolom4
{
    padding-bottom: 86px;
}

table
{
    width: 100%;
}
.link-text-list-menu
{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    
}

.link-text-list-menu:hover
{
    color: orange;
}























